{% extends "base.html" %}

{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{post.author.profile.image.url}}" alt="">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ message.author }}</a>
                <small class="text-muted">{{ message.date_sent|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'message-detail' %}">{{ message.title }}</a></h2>
            <p class="article-content">{{ message.content }}</p>
        </div>
    </article>
{% endblock %}
